variant: openshift
version: 4.20.0
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 98-worker-core-pass
passwd:
  users:
    - name: core
      password_hash: "{{ core_user_pass }}"